<table class='data-table table table-bordered table-striped table-condensed out-margin'>
  <thead>
    <tr>
      <th>Issue</th>
      <th>Mina</th>
      <th>Reported by</th>
      <th>Equipment</th>
      <th>Category</th>
      <th>Type</th>
      <th>Status</th>
      <th>Priority</th>
      <th>Asigned To</th>
      <th>Workers</th>
      <th>Comment</th>
      <th>Created</th>
      <th>Done</th>
      <th>HH</th>
      <th>H.Hom</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_attentions.each do |usr_att| %>
    <% if usr_att.swatenttion != nil %>   
      <tr>
        <!-- issue -->
        <% if usr_att.swatenttion.issue.length > 45 %>
          <td data-toggle="tooltip" data-placement="bottom" title="<%= usr_att.swatenttion.issue %>">
            <%= usr_att.swatenttion.issue[0,45] %> 
          </td>           
        <% else %>  
          <td><%= usr_att.swatenttion.issue %></td>
        <% end %>
        <!-- end issue -->

        <td><%= usr_att.contract.project.nombre %></td>
        <td><%= usr_att.reportby %></td>
        <td><%= usr_att.swatenttion.unity.unity %></td>
        <td><%= usr_att.swatenttion.unity.unity_subtype.subtype %></td>
        <td><%= get_type_valor(usr_att.swatenttion.type_id) %></td>
        <td>
          <!-- put status -->
          <% case usr_att.type.valor %>
            <% when "Closed" %>
              <span class="label label-success">Closed</span>
            <% when "Pending" %>
              <span class="label label-important">Pending</span>
            <% when "In Process" %>
              <span class="label label-warning">In Process</span>
            <% else %>
              <span>No defined</span>
          <% end %>
        </td>
        <td><%= get_type_valor(usr_att.swatenttion.priority) %></td>
        <td><%= get_responsible(usr_att.involved).nombre%></td>
        <td><%= usr_att.involved.count() %></td>

        <!-- put comment-->
        <% if usr_att.swatenttion.comment.length > 45 %>
          <td data-toggle="tooltip" data-placement="bottom" title="<%= usr_att.swatenttion.comment %>">
            <%= usr_att.swatenttion.comment[0,45] %>
          </td>
        <% else %>
          <td><%= usr_att.swatenttion.comment %></td>
        <% end %>
        <!-- put comment-->

        <td><%= usr_att.dateinc %></td>
        <td><%= usr_att.datefin %></td>
        <td><%= usr_att.horas %></td>
        <td><%= usr_att.horashombre %></td>
        <!-- <td><i class="icon-pencil"></i><%= link_to 'Editar', edit_swatenttion_path(usr_att.swatenttion) %></td> -->
        <td><i class="icon-trash"></i><%= link_to 'Elminar', usr_att.swatenttion, method: :delete, data: { confirm: '¿Seguro de eliminar el registro?' } %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

</script>