<%= form_for(@attention) do |f| %>
    <div class="row-fluid">
      <div class="span12 ">
          <div class="span2">
              <i class="icon-desktop"></i>
              <strong>SOPORTE SOFTWARE</strong>
          </div>
          <div class="span9">
              <div class="span1 out-margin">        
                <%= f.label :contract_id, "MINA", :class => 'form-box form-label' %>
              </div>
              <div class="span3 out-margin">
                <%= f.select :contract_id, 
                    option_groups_from_collection_for_select(@projects, :contract, :nombre, :id, :nombre),
                    {},{:class => "form-box form-input-select"}%>
              </div>
          </div>
          <div class="span1">
              <%= f.submit 'Añadir', :class=> 'btn btn-small btn-primary' %>
          </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span9 form-size">
        <div class="span2 out-margin">     
          <%= f.label :reportby,  "Reported by", :class => 'form-box form-label' %>
          <%= f.text_field :reportby, :class => 'form-box form-input' %>
        </div>

        <div class="span2 out-margin">     
          <%= f.label :dateinc, "Created", :class => 'form-box form-label' %>
          <input id="attention_dateinc" name="attention[dateinc]" type='text' class="form-control form-box form-input"/>
        </div>

        <div class="span2 out-margin">     
          <%= f.label :datefin, "Done", :class => 'form-box form-label' %>
          <%= f.text_field :datefin, :class => 'form-control form-box form-input' %>
        </div>

        <div class="span1 out-margin">
          <%= f.label :type_id, "Status", :class => 'form-box form-label' %>      
          <%= f.collection_select(:type_id, $status_types, :id, :valor, {}, {:class => "form-box form-input-select"})  %>
        </div>
        <div class="span1 out-margin">

        </div>
      </div>
    </div>
    <!-- Relationships -->
    <div class="row-fluid">
      <div class="span12 form-size">
        <div class="span1 out-margin">
          <%= label_tag :simbol1,  "Assigned", :class => 'form-box form-label' %>
        </div>
        <div class="span2 out-margin">
          <%= select_tag "responsible", options_from_collection_for_select(@workers, "id", "nombre" ), :class => "form-box form-input-select" %>
        </div>
        <div class="span1 out-margin">     
          <%= label_tag :simbol2,  "Workers", :class => 'form-box form-label' %>
        </div>
        <div class="span4 out-margin">
          <%= select_tag "participants[]", options_from_collection_for_select(@workers, "id", "nombre" ), multiple: true %>
        </div>
      </div>      
    </div>
    
    <% if notice != nil %>
      <div id="notice" class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert">×</a>
        <i class="icon-ok-sign"></i>
        <%= notice %>
      </div>            
    <% end  %> 

    <% if @attention.errors.any? %>
      <div id="error_explanation" class="alert alert-error">
        <a class="close" data-dismiss="alert">×</a>
        <h4>
          <i class="icon-remove-sign"></i>
          <%= pluralize(@attention.errors.count, "error") %> prohibited this attention from being saved:
        </h4>
        <ul>
          <% @attention.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

<% end %>

<script type="text/javascript">
$(function () {
    /*---Start DateTimePicker---*/
     $('#attention_dateinc').datetimepicker({
             icons: {
                time: "icon-time",
                date: "icon-calendar",
                up: "icon-caret-up",
                down: "icon-caret-down",
                previous: 'icon-chevron-sign-left',
                next: 'icon-chevron-sign-right'
            }       
        });

        $('#attention_datefin').datetimepicker({
            icons: {
                time: "icon-time",
                date: "icon-calendar",
                up: "icon-caret-up",
                down: "icon-caret-down",
                previous: 'icon-chevron-sign-left',
                next: 'icon-chevron-sign-right'
            },   
            useCurrent: false //Important! See issue #1075
        });

        $("#attention_dateinc").on("dp.change", function (e) {
                $('#attention_datefin').data("DateTimePicker").minDate(e.date);
        });

        $("#attention_datefin").on("dp.change", function (e) {
            $('#attention_dateinc').data("DateTimePicker").maxDate(e.date);
        });
    /*---End DateTimePicker---*/

    /*---St Bootstrap Multiselect---*/
        $('#participants_').multiselect();
    /*---End Bootstrap Multiselect---*/   
});
</script>