<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @contract.nombre %>
</p>

<p>
  <strong>Project:</strong>
  <%= @contract.project_id %>
</p>

<%= link_to 'Edit', edit_contract_path(@contract) %> |
<%= link_to 'Back', contracts_path %>
