<p id="notice"><%= notice %></p>

<p>
  <strong>Unity:</strong>
  <%= @unity.unity %>
</p>

<p>
  <strong>Unity subtype:</strong>
  <%= @unity.unity_subtype_id %>
</p>

<%= link_to 'Edit', edit_unity_path(@unity) %> |
<%= link_to 'Back', unities_path %>
