<%= form_for(@guard) do |f| %>
  <% if @guard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@guard.errors.count, "error") %> prohibited this guard from being saved:</h2>

      <ul>
      <% @guard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :guardia %><br>
    <%= f.text_field :guardia %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
