 <%= form_for(@worker,  :id => 'submit_worker') do |f| %>
    <div class="span4">
      <div class="field">
        <%= f.label :nombre %>
        <%= f.text_field :nombre %>
      </div>
      <div class="field">
        <%= f.label :apellido %>
        <%= f.text_field :apellido %>
      </div>          
      <div class="field">
        <%= f.label :fotocheck %>
        <%= f.text_field :fotocheck %>
      </div>
      <div class="field">
        <%= f.label :cargo %>
        <%= f.collection_select(:type_id, $cargo_types, :id, :valor) %>
      </div>
    </div>       
    <div class='span4'>
      <div class="field">
        <%= f.label :telefono %>
        <%= f.text_field :telefono %>
      </div>
      <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email, :type => 'email',
        :"data-fv-emailaddress-message" => "Dirección de email no válida" %>
       </div>  
      <br/>
      <%= f.submit :class => 'btn btn-primary btn-large' %>
      <br/><br/>
      <% if notice != nil %>
        <div id="notice" class="alert alert-success">
          <a href="#" class="close" data-dismiss="alert">×</a>
          <i class="icon-ok-sign"></i>
          <%= notice %>
        </div>            
      <% end  %> 

      <% if @worker.errors.any? %>
        <div id="error_explanation" class="alert alert-error">
          <h2><%= pluralize(@worker.errors.count, "error") %> prohibited this worker from being saved:</h2>
          <ul>
          <% @worker.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>                    
      <% end %>
    </div>
<% end %>


<div class="row-fluid">
<div class="sapan12">
  
<div class="box-content box-double-padding">
                            <form class="form" style="margin-bottom: 0;">
                                <fieldset>
                                    <div class="span4">
                                        <div class="lead">
                                            <i class="icon-signin text-contrast"></i>
                                            Login info
                                        </div>
                                        <small class="muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisl est, vulputate at porttitor non, interdum a mauris. Phasellus imperdiet gravida pulvinar.</small>
                                    </div>
                                    <div class="span7 offset1">
                                        <div class="control-group">
                                            <label class="control-label">Username</label>
                                            <div class="controls">
                                                <input class="span12" id="username" placeholder="Username" type="text">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">E-mail</label>
                                            <div class="controls">
                                                <input class="span12" id="email" placeholder="E-mail" type="text">
                                            </div>
                                        </div>
                                        <hr class="hr-normal">
                                        <div class="control-group">
                                            <div class="controls">
                                                <label class="checkbox">
                                                    <input data-target="#change-password" data-toggle="collapse" id="changepasswordcheck" value="option1" type="checkbox">
                                                    Change password?
                                                </label>
                                            </div>
                                        </div>
                                        <div class="collapse" id="change-password">
                                            <div class="control-group">
                                                <label class="control-label">Password</label>
                                                <div class="controls">
                                                    <input class="span12" id="password" placeholder="Password" type="password">
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">Password confirmation</label>
                                                <div class="controls">
                                                    <input class="span12" id="password-confirmation" placeholder="Password confirmation" type="password">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <hr class="hr-normal">
                                <fieldset>
                                    <div class="span4 box">
                                        <div class="lead">
                                            <i class="icon-user text-contrast"></i>
                                            Personal info
                                        </div>
                                        <small class="muted">Proin eu nibh ut urna tristique rhoncus. Sed euismod, quam sed dignissim imperdiet, nulla leo vehicula mi, a sagittis lacus augue nec sapien.</small>
                                    </div>
                                    <div class="span7 offset1">
                                        <div class="control-group">
                                            <label class="control-label">First name</label>
                                            <div class="controls">
                                                <input class="span12" id="firstname" placeholder="First name" type="text">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">Last name</label>
                                            <div class="controls">
                                                <input class="span12" id="lastname" placeholder="Last name" type="text">
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="control-group">
                                            <label class="control-label">Bio</label>
                                            <div class="controls">
                                                <textarea style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 63px;" class="autosize span12" id="bio" placeholder="Bio"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="form-actions" style="margin-bottom: 0;">
                                    <div class="text-right">
                                        <div class="btn btn-primary btn-large">
                                            <i class="icon-save"></i>
                                            Save
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>


</div> 
</div>