<h1>Listing unity_subtypes</h1>

<table>
  <thead>
    <tr>
      <th>Subtype</th>
      <th>Unity type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @unity_subtypes.each do |unity_subtype| %>
      <tr>
        <td><%= unity_subtype.subtype %></td>
        <td><%= unity_subtype.unity_type_id %></td>
        <td><%= link_to 'Show', unity_subtype %></td>
        <td><%= link_to 'Edit', edit_unity_subtype_path(unity_subtype) %></td>
        <td><%= link_to 'Destroy', unity_subtype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unity subtype', new_unity_subtype_path %>
