<p id="notice"><%= notice %></p>

<p>
  <strong>Subtype:</strong>
  <%= @unity_subtype.subtype %>
</p>

<p>
  <strong>Unity type:</strong>
  <%= @unity_subtype.unity_type_id %>
</p>

<%= link_to 'Edit', edit_unity_subtype_path(@unity_subtype) %> |
<%= link_to 'Back', unity_subtypes_path %>
