<%= form_for(@attention_sw) do |f| %>
  <% if @attention_sw.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attention_sw.errors.count, "error") %> prohibited this attention_sw from being saved:</h2>

      <ul>
      <% @attention_sw.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :issue %><br>
    <%= f.text_area :issue %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.number_field :type %>
  </div>
  <div class="field">
    <%= f.label :priority %><br>
    <%= f.text_field :priority %>
  </div>
  <div class="field">
    <%= f.label :integer %><br>
    <%= f.text_field :integer %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :unity_id %><br>
    <%= f.number_field :unity_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
