<h1>Listing attention_sws</h1>

<table>
  <thead>
    <tr>
      <th>Issue</th>
      <th>Type</th>
      <th>Priority</th>
      <th>Integer</th>
      <th>Comment</th>
      <th>Unity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attention_sws.each do |attention_sw| %>
      <tr>
        <td><%= attention_sw.issue %></td>
        <td><%= attention_sw.type %></td>
        <td><%= attention_sw.priority %></td>
        <td><%= attention_sw.integer %></td>
        <td><%= attention_sw.comment %></td>
        <td><%= attention_sw.unity_id %></td>
        <td><%= link_to 'Show', attention_sw %></td>
        <td><%= link_to 'Edit', edit_attention_sw_path(attention_sw) %></td>
        <td><%= link_to 'Destroy', attention_sw, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attention sw', new_attention_sw_path %>
