<p id="notice"><%= notice %></p>

<p>
  <strong>Issue:</strong>
  <%= @attention_sw.issue %>
</p>

<p>
  <strong>Type:</strong>
  <%= @attention_sw.type %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @attention_sw.priority %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @attention_sw.integer %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @attention_sw.comment %>
</p>

<p>
  <strong>Unity:</strong>
  <%= @attention_sw.unity_id %>
</p>

<%= link_to 'Edit', edit_attention_sw_path(@attention_sw) %> |
<%= link_to 'Back', attention_sws_path %>
