<!DOCTYPE html>
<html>
<head>
  <title>Incident</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- START HEADER -->
<header>
<% if user_signed_in? %>
<div class="menu">
   <div class="container full"> 
    <nav class="navbar navbar-default">
     <div class="container-fluid">
      <ul class="nav navbar-nav">
          <!-- InstanceBeginEditable name="current-page" -->
          <li><%= image_tag("logo.png") %></li>
          <li><%= link_to 'Inicio', root_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Atenciones<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Soporte Software', swatenttions_path %></li>
              <li><a href="#">Campo</a></li>
            </ul>    
          </li>
          <li><a href="#">Historial</a></li>
          <li><a href="#">Reportes</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administrar <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class="nav-header">Proyectos / Operaciones</li>
                <li><a href="#">Nuevo Proyecto / Operacion</a></li>
                <li><a href="#">Contratos</a></li>
              <li class="divider"></li>
              <li class="nav-header">Trabajadores</li>
                <li><%= link_to 'Registro Trabajadores / Asignación de Contratos', workers_path %></li>
              <li class="divider"></li>
              <li class="nav-header">Atenciones</li>
                <li><a href="#">Atenciones General</a></li>
                <li><a href="#">Atenciones Software</a></li>
                <li><a href="#">Atenciones Campo</a></li>
            </ul>
          </li>
          <!-- InstanceEndEditable -->         
       </ul>  
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-user"></i> <%= current_user.email %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %></li>              
            </ul>    
        </li>
      </ul>
      </div>
    </nav>
  </div>
</div>


<% else %>
<div class="banner">
  <div class="container full">
    <div class="logo">
       <%= image_tag("log_logo.png") %>
    </div>
  </div>
</div>
<% end %>


</header>

<!-- END HEADER -->
<!-- START CONTAINER -->	

<div class="container full">	 	
			<%= yield %>
</div>

<!-- END CONTAINER -->
<!-- FOOTER -->
<footer>
	<div class="container full">
		<p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2015 Leica Geosystems, Inc. &middot;</p>
	</di>
</footer>
</body>
</html>