<!DOCTYPE html>
<html>
<head>
  <title>Incident</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- START HEADER -->
<header>
<% if user_signed_in? %>
  <%= render 'layouts/menu' %>
<% else %>
<div class="banner">
  <div class="container full">
    <div class="logo">
       <%= image_tag("log_logo.png") %>
    </div>
  </div>
</div>
<% end %>
</header>

<!-- END HEADER -->
<!-- START CONTAINER -->	

<div class="container full">	 	
			<%= yield %>
</div>

<!-- END CONTAINER -->
<!-- FOOTER -->
<footer>
	<div class="container full">
		<p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2015 Leica Geosystems</p>
	</di>
</footer>
</body>
</html>